<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To Do List</h1>
    <input type="button" id="button" value="Add Task +">
<br>

<ul style="list-style-type:none">
    <li>+ Give Presentation</li>
    <li>+ Go for lunch</li>
    <li>+ Play basketball</li>
    <li>+ Buy groceries</li>
    <li>+ Study for the test</li>
    <li>+ Check the mails</li>
    <li>+ Attend the class</li>
    <li>+ Book train tickets</li>
    <li>+ Register for the event</li>
    <li>+ Read a book</li>
</ul>
</body>
</html>
